#Ignorando executaveis
*.exe
#Ignorando arquivos de projetos
*.identcache

#Ignorando pastas auxiliares e temporarias
/SONG/Source/Fontes_Promedico/
/SONG/Source/SongServer/__history/
SONG/Source/SongServer/SONGServer.identcache
SONG/Source/SongServer/Win32/
SONG/Documentacao/
SONG/Source/SongServer/SONGServer.res
__history/
SONG/Source/SongClient/Win32/
SONG/Source/SongClient/SongClient.identcache
SONG/Source/SongClient/SongClient.dproj.local
Componentes/Bpls/
Win32/
Componentes/RafaelComponentes.dproj.local
SONG/Source/Imagens/
SONG/Source/SongServer/Atualizacoes/
ComponentesTerceiros/
SONG/Source/SongServer/Atualizacoes.xml
SONG/Source/SongClient/Atualizacoes/
SONG/BancoDados/SONG.FDB
SONG/BancoDados/SONG.fbk
SONG/BancoDados/VersoesAnteriores/Versao 1.0.0.0/song.fbk
SONG/BancoDados/modelagem.grc
SONG/Source/SongServer/SONGServer.stat
SONG/Source/SongClient/SongClient.stat
*.vlb
*.FDB
*.rar
*.cbk
*.fbk
*.tvsconfig
SONG/Source/SongClient/SongClient_MemoryManager_EventLog.txt
SONG/Source/SongServer/SongServer.rsm
SONG/Source/SongServer/SongServer_MemoryManager_EventLog.txt
SONG/Source/SongClient/Cache/
SONG/Source/SongMobile/Android/
*.pptx
*.vsdx
