#Ignorando executaveis
*.exe
#Ignorando arquivos de projetos
*.identcache

#Ignorando pastas auxiliares e temporarias
/SONG/Source/Fontes_Promedico/
/SONG/Source/SongServer/__history/
SONG/Source/SongServer/SONGServer.identcache
SONG/Source/SongServer/Win32/
SONG/Documentacao/
SONG/BancoDados/
SONG/Source/SongServer/SONGServer.res
__history/
SONG/Source/SongClient/Win32/
SONG/Source/SongClient/SongClient.identcache
SONG/Source/SongClient/SongClient.dproj.local
Componentes/Bpls/
Win32/
Componentes/RafaelComponentes.dproj.local
SONG/Source/Imagens/
SONG/Source/SongServer/Atualizacoes/
ComponentesTerceiros/
SONG/Source/SongServer/Atualizacoes.xml
